# PRODUCCION
# remote:
#     host: "butrich.com"        # server name or ip or ssh host abbr in .ssh/config
#     user: "root"        # ssh username
#     path: "/var/www/html/wp-content/plugins/butrich-precios/"      # e.g. /home/someone/somewhere
#     port: "22"
# DESARROLLO
remote:
     host: "wpmico.com"  # server name or ip or ssh host abbr in .ssh/config
     user: "root"        # ssh username
     path: "/var/www/butrich.wpmico.com/html/wp-content/plugins/butrich-precios/"      # e.g. /home/someone/somewhere
     port: "22"
behaviour:
  uploadOnSave: true
  syncDownOnOpen: false
  forgetConsole: false
  autoHideConsole: true
  alwaysSyncAll: false
option:
  deleteFiles: false
  exclude: [
    ".sync-config.cson"
    ".git"
    "node_modules"
    "tmp"
    "main.css.map"
    ".sass-cache"
  ]
